<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CS-QUIZ</title>
</head>

<body>
    <br><br>
    <h1 style='text-align: center'>Code signal Simple Calculator</h1>

    <form action="/result" method="POST" onsubmit="return validation()" style=' text-align: center; border: 2px solid red; width: 50%; margin-left:25%; '>

        <br>

        <select name="operation" id="operation">
            <option value="" selected>--Select Operator--</option>
            <option value="Add">Add</option>
            <option value="Product">Product</option>
        </select>

        <br><br>

        <input type="text" name="number1" id="number1" required>
        <br><br>


        <input type="text" name="number2" id="number2" required>
        <br><br>
        <input type="submit" value="Solve" id="solve">

        <br><br>
    </form>
    <script>
        const operation = document.getElementById('operation')

        //const solve = document.getElementById('solve')
        //solve.addEventListener('click', validation)
        function validation() {
            const firstNum = +document.getElementById('number1').value
            const secondNum = +document.getElementById('number2').value
            const index = operation.selectedIndex
            if (isNaN(firstNum) || isNaN(secondNum)) {

                alert('input must be a number!')
                return false
            }

            if (operation.options[index].value === '') {
                alert('Select an operator!')
                return false
            }
            return true
        }
    </script>

</body>


</html>