<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CS-QUIZ</title>
</head>

<body>
    <h1 style='text-align: center'>Code signal Simple Calculator</h1>
    <br><br>
    <form action="/result" method="POST" style=' text-align: center; border: 2px solid red; width: 50%; margin-left:25%; '>
        <br>
        <label for="operation">Operation</label>
        <select name="operation" id="operation">
            <option value="add">Select</option>
            <option value="add">Add</option>
            <option value="product">Product</option>
        </select><br><br>
        <label for="number1">Number 1</label>
        <input type="text" name="number1" id="number1"><br><br>
        <label for="text">Number 2</label>
        <input type="text" name="number2" id="number2"><br><br>
        <input type="submit" value="Get Result" id="calculate"><br><br>
    </form>
    <script>
        let firstNum = getElementByID('number1').value
        let secondNum = getElementByID('number1').value
        let operation = getElementByID('operation').value
        let calculate = getElementByID('calculate')


        calculate.addEventListener('click', () => {
            if (typeof fisrtNum !== number) {
                alert("Number 1 must be a number!")
                return
            }

            if (typeof secondNum !== number) {
                alert("Number 2 must be a number!")
                return
            }
            if (operation === 'Select') {
                alert("Operation not selected!")
                return
            }

        })
    </script>
</body>

</html>